header, section, footer, aside, nav, main, article, figure {
  display: block;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font Google */
html, body{
  font-family: 'Montserrat', sans-serif;
  /* 1rem = 18px; */
  /* khi không khai báo thì mặc định 1rem = 16px */
  font-size: 18px;
}
.wrapper{
  min-height: 100vh;
  /* background-color: red; */
}
section{
  background-image: url("../images/b_add.png");
  background-color: #cccccc;
  min-height: 90vh;
  object-position: center;
  background-size: cover;
  background-position: 50% 100%;
}
.box{
  height: auto;
  width: 400px;
  background-color: rgba(0,0,0,.7);
  width: 40%;
  margin: auto;
  padding: 11% 20px;
  color: #e0e0e0;
  text-align: center;
}
.box h1{
  font-size: 2.5em;
  font-weight: 500;
  color: white;
}
.book input[type="text"], .book input[type="number"]{  
  display: block;
  outline: none;
  font-size: 15px;
  color: rgba(255,255,255, 1);
  font-weight: 500;
  text-align: left;
  height: 30px;
  width: 95.5%;
  border: none;
  border-bottom: 1px solid #889ba0;
  -webkit-appearance: none;
  margin: 5px auto 10px auto;
  background: transparent;
  letter-spacing: 1px;
}
.submit input[type="submit"] {
  background: #e0e0e0;
  color: #000;
  outline: none;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  padding: 10px 5%;
  font-size: 14px;
  width: 90%;
  margin-top: .7em;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  display: inline-block;
  top: 15%;
  left: 10%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content li {
  color: black;
  padding: 5px 16px;
  /* text-decoration: none; */
  display: block;
}

.dropdown-content li:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}