/*.........FOOTER...........*/

footer{
  position: fixed;
  bottom: 0;
  background-color: black;
  color: silver; 
  text-align: center;
  width: 100%;
  min-height: 10vh;
  margin: auto;
  padding-top: 7px;
}